[submodule ".vim/bundle/https:/github.com/kien/ctrlp.vim.git"]
	path = .vim/bundle/https:/github.com/kien/ctrlp.vim.git
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = https://github.com/bogado/file-line.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/locate.vim"]
	path = .vim/bundle/locate.vim
	url = https://github.com/mtth/locate.vim.git
[submodule ".vim/bundle/mru.vim"]
	path = .vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-ags"]
	path = .vim/bundle/vim-ags
	url = https://github.com/gabesoft/vim-ags.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule ".vim/bundle/vim-choosewin"]
	path = .vim/bundle/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
