[core]
    excludesfile = ~/.gitignore
    editor = vim
[push]
    default = nothing
[alias]
    st = status
    co = checkout
    cm = commit
    br = branch
    lol = log --oneline --graph --decorate
    loa = log --branches --remotes --tags --graph --oneline --decorate

[includeIf "gitdir:~/alexgit/"]
    path = ~/alexgit/.gitconfig
[includeIf "gitdir:~/workgit/"]
    path = ~/workgit/.gitconfig

