[core]
    excludesfile = ~/.gitignore
    editor = vim
[push]
    default = nothing
[alias]
    st = status
    co = checkout
    cm = commit
    br = branch
    lol = log --oneline --graph --decorate
    loa = log --branches --remotes --tags --graph --decorate  --pretty=format:'%C(auto)%h %C(blue)[%an]%C(yellow)%d%C(reset) %s %C(green)%cr%C(reset)'

[includeIf "gitdir:~/alexgit/"]
    path = ~/alexgit/.gitconfig
[includeIf "gitdir:~/workgit/"]
    path = ~/workgit/.gitconfig

